#root {
	margin: 0 auto;
	text-align: center;
}

.main-display {
	display: flex;
	justify-content: space-between;
	border: 3px solid lightgray;
}

.side-display {
	border: 3px solid lightgray;
	margin: 5px;
}
